<!-- Pobo Page Builder - content START -->
<div id='pobo-all-content' class="passion-widgets" data-pobo-content='product' data-pobo-design-id='default'
    data-pobo-page-id='10202071'
    data-pobo-config='{"product_id":10202071,"value_lang":"default","enable_marketplace":0}'>
    <div id='pobo-inner-content'>
        <div id="pobo-standard-widget">
            {{!-- usp --}}
            <div id="widget-usp-cokoladove-koma" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-left widget-container--pink larger-text">
                <div class="widget-typography">
                    <div class="rc-image-half-left">
                        <div class="rc-image-half-left__image">
                            <img data-src="{{productImgDir}}/USP-CokoladovaPani.jpg"
                                class="lazyLoad rc-image-half-left__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/USP-CokoladovaPani.jpg">
                        </div>
                        <div class="rc-image-half-left__text">
                            <h3 class="preheading">
                                Čokoládové kóma
                            </h3>
                            <h2 class="section-title">Nech si učarovat&nbsp;naší nejčokoládovější <a
                                    href="{{linkLowCarb}}" class="passion-script">Low&nbsp;Sugar</a> Cookie</h2>
                            <p>Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu. Naše
                                nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou <a target="_blank"
                                    href="https://www.instagram.com/baru_jirik/" class="chip-link">@baru_jirik</a></p>

                            <div class="inner-flex-container inner-flex-container--white">
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-high-protein.svg">
                                    <p class="iconbox__value">
                                        14 g
                                    </p>
                                    <h4 class="iconbox__title">
                                        Velký podíl proteinu
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-low-sugar.svg">
                                    <p class="iconbox__value">
                                        1 g
                                    </p>
                                    <h4 class="iconbox__title">
                                        Minimum cukru
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-bez-lepku.svg">
                                    <h4 class="iconbox__title">
                                        Bez lepku
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- vyhody --}}
            <div id="widget-benefity" data-pobo-widget-id="6" data-pobo-unique-id="1813861"
                class="widget-container widget-advantages-three widget-container--pink larger-text">
                <div class="widget-projector">
                    <div class="rc-advantages-three">
                        <div class="rc-advantages-three__item">
                            <div class="rc-advantages-three__ico-container"><img
                                    data-src="{{productImgDir}}/icon-high-protein.svg"
                                    class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                                    src="{{productImgDir}}/icon-high-protein.svg"></div>
                            <div class="rc-advantages-three__info">
                                <h2 class="rc-advantages-three__info-header">Velký podíl proteinu</h2>
                                <span class="rc-advantages-three__info-text">14 g</span>
                            </div>
                        </div>
                        <div class="rc-advantages-three__item">
                            <div class="rc-advantages-three__ico-container"><img
                                    data-src="{{productImgDir}}/icon-low-sugar.svg"
                                    class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                                    src="{{productImgDir}}/icon-low-sugar.svg"></div>
                            <div class="rc-advantages-three__info">
                                <h2 class="rc-advantages-three__info-header">Minimum cukru</h2><span
                                    class="rc-advantages-three__info-text">1 g</span>
                            </div>
                        </div>
                        <div class="rc-advantages-three__item">
                            <div class="rc-advantages-three__ico-container"><img
                                    data-src="{{productImgDir}}/icon-bez-lepku.svg"
                                    class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                                    src="{{productImgDir}}/icon-bez-lepku.svg"></div>
                            <div class="rc-advantages-three__info">
                                <h2 class="rc-advantages-three__info-header">Bez lepku</h2><span
                                    class="rc-advantages-three__info-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- chut --}}
            <div id="widget-chut" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-right widget-container--purple widget-container--has-gradient larger-text">
                <div class="widget-typography">
                    <div class="rc-image-half-right">
                        <div class="rc-image-half-right__text">
                            <h3 class="preheading">
                                Chuť
                            </h3>
                            <h2 class="section-title">
                                <span class="image-script-wrapper">
                                    <span class="image-script">
                                        Měkoučká
                                    </span>
                                </span>
                                dobrota
                            </h2>
                            <p>
                                Vychutnej si naši parádní cookie,
                                <strong>která snoubí kousky kakaových bobu a čokolády spolu s křupavými kousky
                                    oříšků</strong>
                                - to prostě chceš
                            </p>

                            <div class="inner-flex-container">
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-cokolada.svg">
                                    <h4 class="iconbox__title">
                                        Plná čokoládová chuť
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-vlacna.svg">
                                    <h4 class="iconbox__title">
                                        Vláčnější textura
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-krupe.svg">
                                    <h4 class="iconbox__title">
                                        Sem tam křupně oříšerk
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="rc-image-half-right__image">
                            <img data-src="{{productImgDir}}/chut-cookieska.jpg"
                                class="lazyLoad rc-image-half-right__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/chut-cookieska.jpg">
                        </div>
                    </div>
                </div>
            </div>
            {{!-- hlavni ingredience --}}
            <div id="widget-hlavni-ingredience" data-pobo-widget-id="74" data-pobo-unique-id="1813868" class="widget-container widget-jumbotron-one widget-container--grey widget-container--make-text-black">
                <div class="widget-projector">
                    <div class="rc-jumbotron-one">
                        <div class="rc-jumbotron-one__wrap"><img
                                data-src="{{productImgDir}}/hlavni-ingredience.jpg"
                                class="lazyLoad rc-jumbotron-one__wrap-img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/hlavni-ingredience.jpg">
                            <div class="rc-jumbotron-one__content">
                                <h3 class="preheading">Hlavní ingredience</h3>
                                <h2 class="rc-jumbotron-one__content-title">
                                    Kakaové boby, čokoláda&nbsp;a&nbsp;oříšky
                                </h2>
                                <span
                                    class="rc-jumbotron-one__content-text">Lískové ořechy a arašídy dodávají bohatou chuť, zdravé tuky a přirozenou křupavost</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pobo-share-widget"></div>
    </div>
</div><!-- Pobo Page Builder - content END -->