<!-- Pobo Page Builder - content START -->
<div id='pobo-all-content' class="passion-widgets" data-pobo-content='product' data-pobo-design-id='default'
    data-pobo-page-id='10202071'
    data-pobo-config='{"product_id":10202071,"value_lang":"default","enable_marketplace":0}'>
    <div id='pobo-inner-content'>
        <div id="pobo-standard-widget">
            {{!-- usp - pure pobo --}}
            <div data-pobo-widget-id="8" data-pobo-unique-id="1821635" class="widget-container widget-image-half-left">
                <div class="widget-typography">
                    <div class="rc-image-half-left">
                        <div class="rc-image-half-left__image"><img
                                data-src="https://image.pobo.cz/images/cv6whszbhkfg/03k3kxssp9vmdcxn2n81-md.jpeg"
                                class="lazyLoad rc-image-half-left__img loaded"
                                alt="[TEST - EDITOVATELNÉ POBO] Passion Low sugar cookies Čokoládové kóma 70g"
                                loading="lazy"
                                src="https://image.pobo.cz/images/cv6whszbhkfg/03k3kxssp9vmdcxn2n81-md.jpeg"></div>
                        <div class="rc-image-half-left__text">
                            <h3 id="isPasted">Čokoládové kóma</h3>
                            <h2 id="isPasted">Nech si učarovat&nbsp;naší nejčokoládovější <strong>Low Sugar</strong>
                                Cookie</h2>
                            <p id="isPasted">Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu.
                                Naše nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou <a
                                    href="http://@baru_jirik" target="_blank" rel="noopener noreferrer">@baru_jirik</a>
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- usp --}}
            <div id="widget-usp-cokoladove-koma" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-left widget-container--pink larger-text">
                <div class="widget-typography">
                    <div class="rc-image-half-left">
                        <div class="rc-image-half-left__image">
                            <img data-src="{{productImgDir}}/USP-CokoladovaPani.jpg"
                                class="lazyLoad rc-image-half-left__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/USP-CokoladovaPani.jpg">
                        </div>
                        <div class="rc-image-half-left__text">
                            <h3 class="preheading">
                                Čokoládové kóma
                            </h3>
                            <h2 class="section-title">Nech si učarovat&nbsp;naší nejčokoládovější
                                <span class="no-wrap">
                                    <a href="{{baseUrl}}{{linkLowCarb}}" class="script-image-wrapper"
                                        style="background-image: url('{{productImgDir}}/text-lowsugar.svg'); width: 7em; height: 2em;">
                                        <span class="script-image-wrapper__text">
                                            Low&nbsp;Sugar
                                        </span>
                                    </a>
                                    <span>Cookie</span>
                                </span>
                            </h2>
                            <p>Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu. Naše
                                nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou <a target="_blank"
                                    href="https://www.instagram.com/baru_jirik/" class="chip-link">@baru_jirik</a></p>

                            <div class="inner-flex-container inner-flex-container--white">
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-high-protein.svg">
                                    <p class="iconbox__value">
                                        14 g
                                    </p>
                                    <h4 class="iconbox__title">
                                        Velký podíl proteinu
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-low-sugar.svg">
                                    <p class="iconbox__value">
                                        1 g
                                    </p>
                                    <h4 class="iconbox__title">
                                        Minimum cukru
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-bez-lepku.svg">
                                    <h4 class="iconbox__title">
                                        Bez lepku
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- vyhody --}}
            <div id="widget-benefity" data-pobo-widget-id="6" data-pobo-unique-id="1813861"
                class="widget-container widget-advantages-three widget-container--pink larger-text">
                <div class="widget-projector">
                    <div class="rc-advantages-three">
                        <div class="rc-advantages-three__item">
                            <div class="rc-advantages-three__ico-container"><img
                                    data-src="{{productImgDir}}/icon-high-protein.svg"
                                    class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                                    src="{{productImgDir}}/icon-high-protein.svg"></div>
                            <div class="rc-advantages-three__info">
                                <h2 class="rc-advantages-three__info-header">Velký podíl proteinu</h2>
                                <span class="rc-advantages-three__info-text">14 g</span>
                            </div>
                        </div>
                        <div class="rc-advantages-three__item">
                            <div class="rc-advantages-three__ico-container"><img
                                    data-src="{{productImgDir}}/icon-low-sugar.svg"
                                    class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                                    src="{{productImgDir}}/icon-low-sugar.svg"></div>
                            <div class="rc-advantages-three__info">
                                <h2 class="rc-advantages-three__info-header">Minimum cukru</h2><span
                                    class="rc-advantages-three__info-text">1 g</span>
                            </div>
                        </div>
                        <div class="rc-advantages-three__item">
                            <div class="rc-advantages-three__ico-container"><img
                                    data-src="{{productImgDir}}/icon-bez-lepku.svg"
                                    class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                                    src="{{productImgDir}}/icon-bez-lepku.svg"></div>
                            <div class="rc-advantages-three__info">
                                <h2 class="rc-advantages-three__info-header">Bez lepku</h2><span
                                    class="rc-advantages-three__info-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- chut --}}
            <div id="widget-chut" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-right widget-container--purple widget-container--has-gradient larger-text">
                <div class="widget-typography">
                    <div class="rc-image-half-right">
                        <div class="rc-image-half-right__text">
                            <h3 class="preheading">
                                Chuť
                            </h3>
                            <h2 class="section-title">
                                <span class="script-image-wrapper"
                                    style="background-image: url('{{productImgDir}}/text-mekoucka.png'); width: 100%; height: 3em;">
                                    <span class="script-image-wrapper__text">
                                        Měkoučká dobrota
                                    </span>
                                </span>
                            </h2>
                            <p>
                                Vychutnej si naši parádní cookie,
                                <strong>která snoubí kousky kakaových bobu a čokolády spolu s křupavými kousky
                                    oříšků</strong>
                                - to prostě chceš
                            </p>

                            <div class="inner-flex-container">
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-cokolada.svg">
                                    <h4 class="iconbox__title">
                                        Plná čokoládová chuť
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-vlacna.svg">
                                    <h4 class="iconbox__title">
                                        Vláčnější textura
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-krupe.svg">
                                    <h4 class="iconbox__title">
                                        Sem tam křupně oříšerk
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="rc-image-half-right__image">
                            <img data-src="{{productImgDir}}/chut-cookieska.jpg"
                                class="lazyLoad rc-image-half-right__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/chut-cookieska.jpg">
                        </div>
                    </div>
                </div>
            </div>
            {{!-- hlavni ingredience --}}
            <div id="widget-hlavni-ingredience" data-pobo-widget-id="74" data-pobo-unique-id="1813868"
                class="widget-container widget-jumbotron-one widget-container--grey widget-container--make-text-black">
                <div class="widget-projector">
                    <div class="rc-jumbotron-one">
                        <div class="rc-jumbotron-one__wrap"><img data-src="{{productImgDir}}/hlavni-ingredience.jpg"
                                class="lazyLoad rc-jumbotron-one__wrap-img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/hlavni-ingredience.jpg">
                            <div class="rc-jumbotron-one__content">
                                <h3 class="preheading">Hlavní ingredience</h3>
                                <h2 class="rc-jumbotron-one__content-title">
                                    Kakaové boby, čokoláda&nbsp;a&nbsp;oříšky
                                </h2>
                                <span class="rc-jumbotron-one__content-text">Lískové ořechy a arašídy dodávají bohatou
                                    chuť, zdravé tuky a přirozenou křupavost</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- vlaknina a stevie --}}
            <div id="widget-stevie" data-pobo-widget-id="74" data-pobo-unique-id="1813868" class="widget-container widget-container--half widget-container--grey widget-container--make-text-black
                widget-jumbotron-one widget-jumbotron-one--text-half-right">
                <div class="widget-projector">
                    <div class="rc-jumbotron-one">
                        <div class="rc-jumbotron-one__wrap">
                            <img data-src="{{productImgDir}}/stevie.jpg"
                                class="lazyLoad rc-jumbotron-one__wrap-img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/stevie.jpg">
                            <div class="rc-jumbotron-one__content">
                                <h3 class="preheading">Stévie</h3>
                                <h2 class="rc-jumbotron-one__content-title">
                                    Sladké, ale bez cukru
                                </h2>
                                <span class="rc-jumbotron-one__content-text">
                                    Díky přírodnímu sladidlu z listů stévie, se vyhnete kaloriím a výkyvům cukru v krvi.
                                </span>
                                <a class="passion-button" href="">
                                    Přečíst více
                                    <span class="passion-button__chevron"
                                        style='background: url("{{productImgDir}}/icon-chevron.svg");'>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="widget-vlaknina" data-pobo-widget-id="74" data-pobo-unique-id="1813868" class="widget-container widget-container--half widget-container--grey widget-container--make-text-black
                widget-jumbotron-one widget-jumbotron-one--text-half-left">
                <div class="widget-projector">
                    <div class="rc-jumbotron-one">
                        <div class="rc-jumbotron-one__wrap">
                            <img data-src="{{productImgDir}}/vlaknina.jpg"
                                class="lazyLoad rc-jumbotron-one__wrap-img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/vlaknina.jpg">
                            <div class="rc-jumbotron-one__content">
                                <h3 class="preheading">Vláknina</h3>
                                <h2 class="rc-jumbotron-one__content-title">
                                    Rozpustna rostlinná vláknina
                                </h2>
                                <span class="rc-jumbotron-one__content-text">
                                    Pro lehké trávení
                                    a dlouhotrvající energii
                                </span>
                                <a class="passion-button" href="">
                                    Přečíst více
                                    <span class="passion-button__chevron"
                                        style='background: url("{{productImgDir}}/icon-chevron.svg");'>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- protein --}}
            <div id="widget-protein" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-left widget-container--beige widget-container--has-gradient">
                <div class="widget-typography">
                    <div class="rc-image-half-left">
                        <div class="rc-image-half-left__image">
                            <img data-src="{{productImgDir}}/protein.jpg"
                                class="lazyLoad rc-image-half-left__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/protein.jpg">
                        </div>
                        <div class="rc-image-half-left__text">
                            <h3 class="preheading">
                                Protein
                            </h3>
                            <h2 class="section-title">
                                Pořádná dávka bílkovin v&nbsp;každém soustu
                            </h2>
                            <p>
                                Pro optimální vstřebatelnost a zajištění kompletního spektra aminokyselin
                                <strong>využíváme 3 zdroje bílkovin.</strong> Perfektní volba pro ty, kteří chtějí víc
                                než jen sladkou odměnu.
                            </p>

                            <div class="inner-flex-container">
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-izolat.svg">
                                    <h4 class="iconbox__title">
                                        Syrovátkový proteinový izolát
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-kasein.svg">
                                    <h4 class="iconbox__title">
                                        Micelární kasein
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-bilek.svg">
                                    <h4 class="iconbox__title">
                                        Sušený bílek
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- filosofie --}}
            <div id="widget-filozofie" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-right widget-container--yellow widget-container--has-gradient larger-text">
                <div class="widget-typography">
                    <div class="rc-image-half-right">
                        <div class="rc-image-half-right__text">
                            <h3 class="preheading">
                                O nás
                            </h3>
                            <h2 class="section-title">
                                Naše vypečená filozofie
                            </h2>
                            <div class="inner-flex-container">
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-suroviny.svg">
                                    <h4 class="iconbox__title">
                                        Nejlepší suroviny
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-chutne.svg">
                                    <h4 class="iconbox__title">
                                        Chutné a výživné
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-vyroba.svg">
                                    <h4 class="iconbox__title">
                                        Ruční výroba
                                    </h4>
                                </div>
                                <div class="iconbox">
                                    <img class="iconbox__icon" src="{{productImgDir}}/icon-tradice.svg">
                                    <h4 class="iconbox__title">
                                        Tradice již 10 let
                                    </h4>
                                </div>
                            </div>
                            <a class="passion-button passion-button--white" href="">
                                Více o nás
                                <span class="passion-button__chevron"
                                    style='background: url("{{productImgDir}}/icon-chevron.svg");'>
                                </span>
                            </a>
                        </div>
                        <div class="rc-image-half-right__image">
                            <img data-src="{{productImgDir}}/vypecena-filosofie.jpg"
                                class="lazyLoad rc-image-half-right__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/vypecena-filosofie.jpg">
                        </div>
                    </div>
                </div>
            </div>
            {{!-- idealni svacinka --}}
            <div id="widget-idealni-svacinka" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-left widget-container--teal widget-container--has-gradient">
                <div class="widget-typography">
                    <div class="rc-image-half-left">
                        <div class="rc-image-half-left__image">
                            <img data-src="{{productImgDir}}/idealni-svacinka.jpg"
                                class="lazyLoad rc-image-half-left__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/idealni-svacinka.jpg">
                        </div>
                        <div class="rc-image-half-left__text">
                            <h3 class="preheading">
                                Ideální svačinka
                            </h3>
                            <h2 class="section-title">
                                Svačinka pro každou situaci
                            </h2>
                            <p>
                                Ať už jsi na cestách, v práci, ve škole, na kole, túře nebo prostě nestíháš – naše
                                proteinová cookie bude vždy po ruce. Rychlá a chutná svačinka plná bílkovin!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- mini cookies --}}
            <div id="widget-mini-cookies" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
                class="widget-container widget-image-half-right widget-container--pink larger-text">
                <div class="widget-typography">
                    <div class="rc-image-half-right">
                        <div class="rc-image-half-right__text">
                            <h3 class="preheading">
                                Vyzkoušejte také
                            </h3>
                            <h2 class="section-title script-image-wrapper"
                                style="background-image: url('{{productImgDir}}/text-lowsugar-minicookies.svg'); width: 100%; font-size: 50px; height: 2em;">
                                <span class="script-image-wrapper__text">
                                    Low Sugar Mini Cookies
                                </span>
                            </h2>
                            <h3 class="preheading">
                                to nejlepší, ale v malém
                            </h3>
                            <a class="passion-button passion-button--white" href="">
                                Ochutnat!
                                <span class="passion-button__chevron"
                                    style='background: url("{{productImgDir}}/icon-chevron.svg");'>
                                </span>
                            </a>
                        </div>
                        <div class="rc-image-half-right__image">
                            <img data-src="{{productImgDir}}/mini-cookies.jpg"
                                class="lazyLoad rc-image-half-right__img loaded" alt="Test" loading="lazy"
                                src="{{productImgDir}}/mini-cookies.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pobo-share-widget"></div>
    </div>
</div><!-- Pobo Page Builder - content END -->