<div id="widget-usp-cokoladove-koma" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
    class="widget-container widget-image-half-left widget-container--pink larger-text">
    <div class="widget-typography">
        <div class="rc-image-half-left">
            <div class="rc-image-half-left__image">
                <img data-src="{{productImgDir}}/USP-CokoladovaPani.jpg" class="lazyLoad rc-image-half-left__img loaded"
                    alt="Test" loading="lazy" src="{{productImgDir}}/USP-CokoladovaPani.jpg">
            </div>
            <div class="rc-image-half-left__text">
                <h3 class="preheading">
                    Čokoládové kóma
                </h3>
                <h2 class="section-title">Nech si učarovat&nbsp;naší nejčokoládovější
                    <span class="no-wrap">
                        <a href="{{baseUrl}}{{linkLowCarb}}" class="script-image-wrapper"
                            style="background-image: url('{{productImgDir}}/text-lowsugar.svg'); width: 7em; height: 2em;">
                            <span class="script-image-wrapper__text">
                                Low&nbsp;Sugar
                            </span>
                        </a>
                        <span>Cookie</span>
                    </span>
                </h2>
                <p>Plná chuť čokolády a ořechů na Tebe čeká společně s velkou dávkou proteinu. Naše
                    nejčokoládovější cookie vznikla ve spolupráci s fitness influencerkou <a target="_blank"
                        href="https://www.instagram.com/baru_jirik/" class="chip-link">@baru_jirik</a></p>

                <div class="inner-flex-container inner-flex-container--white">
                    <div class="iconbox">
                        <img class="iconbox__icon" src="{{productImgDir}}/icon-high-protein.svg">
                        <span class="iconbox__value">
                            14 g
                        </span>
                        <h4 class="iconbox__title">
                            Velký podíl proteinu
                        </h4>
                    </div>
                    <div class="iconbox">
                        <img class="iconbox__icon" src="{{productImgDir}}/icon-low-sugar.svg">
                        <span class="iconbox__value">
                            1 g
                        </span>
                        <h4 class="iconbox__title">
                            Minimum cukru
                        </h4>
                    </div>
                    <div class="iconbox">
                        <img class="iconbox__icon" src="{{productImgDir}}/icon-bez-lepku.svg">
                        <span></span>
                        <h4 class="iconbox__title">
                            Bez lepku
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>