<div id="widget-benefity" data-pobo-widget-id="6" data-pobo-unique-id="1813861"
    class="widget-container widget-advantages-three widget-container--light-pink">
    {{!-- larger-text --}}
    <div class="widget-projector">
        <div class="rc-advantages-three">
            <div class="rc-advantages-three__item">
                <div class="rc-advantages-three__ico-container"><img data-src="{{productImgDir}}/icon-high-protein.svg"
                        class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                        src="{{productImgDir}}/icon-high-protein.svg"></div>
                <div class="rc-advantages-three__info">
                    <h2 class="rc-advantages-three__info-header">Velký podíl proteinu</h2>
                    <span class="rc-advantages-three__info-text">14 g</span>
                </div>
            </div>
            <div class="rc-advantages-three__item">
                <div class="rc-advantages-three__ico-container"><img data-src="{{productImgDir}}/icon-low-sugar.svg"
                        class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                        src="{{productImgDir}}/icon-low-sugar.svg"></div>
                <div class="rc-advantages-three__info">
                    <h2 class="rc-advantages-three__info-header">Minimum cukru</h2><span
                        class="rc-advantages-three__info-text">1 g</span>
                </div>
            </div>
            <div class="rc-advantages-three__item">
                <div class="rc-advantages-three__ico-container"><img data-src="{{productImgDir}}/icon-bez-lepku.svg"
                        class="lazyLoad rc-advantages-three__ico-img loaded" alt="Test" loading="lazy"
                        src="{{productImgDir}}/icon-bez-lepku.svg"></div>
                <div class="rc-advantages-three__info">
                    <h2 class="rc-advantages-three__info-header">Bez lepku</h2><span
                        class="rc-advantages-three__info-text"></span>
                </div>
            </div>
        </div>
    </div>
</div>