<div id="widget-chut" data-pobo-widget-id="8" data-pobo-unique-id="1816465"
    class="widget-container widget-image-half-right widget-container--purple widget-container--has-gradient">
    <div class="widget-typography">
        <div class="rc-image-half-right">
            <div class="rc-image-half-right__text">
                <h3 class="preheading">
                    Chuť
                </h3>
                <h2 class="section-title">
                    <span class="script-image-wrapper"
                        style="background-image: url('{{productImgDir}}/text-mekoucka.png'); width: 100%; height: 3em;">
                        <span class="script-image-wrapper__text">
                            Měkoučká dobrota
                        </span>
                    </span>
                </h2>
                <p>
                    Vychutnej si naši parádní cookie,
                    <strong>která snoubí kousky kakaových bobu a čokolády spolu s křupavými kousky
                        oříšků</strong>
                    - to prostě chceš
                </p>

                <div class="inner-flex-container">
                    <div class="iconbox">
                        <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-cokolada.svg">
                        <h4 class="iconbox__title">
                            Plná čokoládová chuť
                        </h4>
                    </div>
                    <div class="iconbox">
                        <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-vlacna.svg">
                        <h4 class="iconbox__title">
                            Vláčnější textura
                        </h4>
                    </div>
                    <div class="iconbox">
                        <img class="iconbox__icon" src="{{productImgDir}}/icon-chut-krupe.svg">
                        <h4 class="iconbox__title">
                            Sem tam křupně oříšerk
                        </h4>
                    </div>
                </div>
            </div>
            <div class="rc-image-half-right__image">
                <img data-src="{{productImgDir}}/chut-cookieska.jpg" class="lazyLoad rc-image-half-right__img loaded"
                    alt="Test" loading="lazy" src="{{productImgDir}}/chut-cookieska.jpg">
            </div>
        </div>
    </div>
</div>